---
import BaseLayout from "@layouts/BaseLayout.astro";
import GetStarted from "@components/GetStarted.astro";

import { getEntry } from "astro:content";

const { currentLocale } = Astro.props || 'en';

const pageTitle: string = "LINC: Get help for rent in Fort Bend!";
const aboutSection = await getEntry('parts', `${currentLocale}/04-about`)
const aboutSectionWithContent = {
  ...aboutSection,
  ...await aboutSection?.render(),
}

---

<BaseLayout pageTitle={pageTitle} currentLocale={currentLocale}>
  <main data-page="index">
    <section class="title-section">
      <div class="container">
        <div class="grid">
          <div class="content intro">
            <h1>{aboutSectionWithContent.data?.headline}</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="about">
      <div class="container">
        <aboutSectionWithContent.Content/>
      </div>
    </section>
    <GetStarted currentLocale={currentLocale}/>
  </main>
</BaseLayout>

<style>
.about :global(img) {
  display: block;
  padding-bottom: 3rem;
  margin: auto;
}

.emphasis {
  font-weight: 800;
  font-style: italic;
}

.about {
  padding: 4rem 0;
}
</style>