---
import VeryBasicLayout from "@layouts/VeryBasicLayout.astro";
const pageTitle: string = "404";

const currentLocale = Astro.currentLocale || 'en';
const base_url = `${import.meta.env.BASE_URL}`;
---

<VeryBasicLayout pageTitle={pageTitle} currentLocale={currentLocale}>
  <main>
    <section>
      <div class="container">
        <hgroup>
          <h1>{pageTitle}</h1>
          <p>Sorry, this page does not exist.</p>
        </hgroup>
      </div>
    </section>
    <section>
      <div class="container">
        <a href={base_url} role="button">Back to home</a>
      </div>
    </section>
  </main>
</VeryBasicLayout>

<style>
  main {
    padding: 4rem 0;
  }
</style>
