---
import BaseLayout from "@layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import onComputer from '@assets/images/on-computer.png'
import family1 from '@assets/images/pexels-august-de-richelieu-4260639.jpg'

const pageTitle: string = "LINC: Get help for rent in Fort Bend!";

const steps = await getCollection("steps");
const stepsWithContent = await Promise.all(steps
  .map(async (step) => ({
    ...step,
    ...await step.render(),
  })));
---

<script>
  import scrollama from "scrollama";

  document.addEventListener("astro:page-load", () => {
    const headerHeight = document.querySelector('header')?.clientHeight || 0
    const getStepInfo = (el: HTMLElement) => ({
      stepNumber: Number(el.getAttribute('data-step')),
      position: el.offsetTop - headerHeight,
    })

    const stepElements = document.querySelectorAll('.step') as NodeListOf<HTMLElement>;
    if (!stepElements.length) {
      return
    }

    const stepInfo = [...stepElements].map(getStepInfo)
    const stepNumbers = [...stepInfo].map((item) => (item.stepNumber))
    const stepMin = Math.min(...stepNumbers)
    const stepMax = Math.max(...stepNumbers)

    const boundStepNumber = (stepNumber: number) => (
      Math.min(stepMax, Math.max(stepMin, stepNumber))
    )

    document.addEventListener('click', (clickEvent) => {
      const clickTarget = clickEvent.target as HTMLElement
      if( clickTarget.matches('.step--label') ) {
        const clickStepNumber = Number(clickTarget.dataset.step)
        const stepsElement = document.querySelector('.steps') as HTMLElement
        const clickTargetStep = stepInfo.find((info) => info.stepNumber === clickStepNumber)

        if (!clickTargetStep?.position) {
          return
        }

        if (Number(stepsElement.dataset.activeStep) !== clickStepNumber || Math.abs(window.scrollY - clickTargetStep?.position) > 100 ) {
          window.scrollTo({
            top: clickTargetStep?.position,
            left: 0,
            behavior: 'smooth',
          })
        }
      }
    })

    const scroller = scrollama();
    scroller
      .setup({
        step: ".step",
      })
      .onStepEnter((step) => {
        const stepNumber = step.element.dataset.step && Number(step.element.dataset.step) || 0
        if (!stepNumber) {
          return
        }
        if (step.direction === 'down') {
          step.element.parentElement?.parentElement?.setAttribute('data-active-step', `${boundStepNumber(stepNumber)}`)
        }
      })
      .onStepExit((step) => {
        const stepNumber = step.element.dataset.step && Number(step.element.dataset.step) || 0
        if (!stepNumber) {
          return
        }
        if (step.direction === 'up') {
          step.element.parentElement?.parentElement?.setAttribute('data-active-step', `${boundStepNumber(stepNumber - 1)}`)
        }
      });
    })
</script>

<BaseLayout pageTitle={pageTitle}>
  <main data-page="index">
    <section id="how-it-works">
      <div class="container-fluid">
        <div class="grid">
          <div class="content intro">
            <h1>How Fort Bend LINC works</h1>

            <p>
              There are 4 steps to applying for and receiving rental assistance with Fort Bend LINC.
              With each step, we ask for just the amount of information needed to process your application. 
            </p>

            <p>
              <strong>
                Assistance is not guaranteed until you receive communication from us that says we have pledged funds for your case.
              </strong>
            </p>
            
            <p>Learn more below and get started.</p>
          </div>
          <div>
            <Image src={onComputer} alt="Woman submitting and application for rental assistance by laptop">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="steps" data-active-step="1">
        <div class="step--listing">
          {stepsWithContent
            .map((step) => 
            (<h4 class="step--label" data-step={step.data.order} data-slug={step.slug}>
              {step.data.title}
            </h4>)
          )}
        </div>
        <div class="step--info">
          {stepsWithContent
            .map((step) => 
            (<div class="step" data-step={step.data.order}>
              <div class="step--details" data-slug={step.slug}>
                <step.Content/>
              </div>
              <div class="step--figure" data-slug={step.slug}>
                <Image src={step.data.cover} alt={step.data.coverAlt}/>
              </div>
            </div>
            )
          )}
        </div>
      </div>
    </section>
    <section id="get-started">
      <div class="container">
        <div class="grid">
          <div>
            <Image src={family1} alt="Family of four smiling at home"/>
          </div>
          <div class="content">
            <h1>Get started!</h1>
            <p>You can complete the pre-screener on your phone or computer.</p>
            <p>
              <a href="https://harveyhomeconnect--linc.sandbox.my.site.com/MyLINC/s/apply-for-assistance" role="button" class="primary">See if you are eligible</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
#how-it-works {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background-color: var(--linc--green);
}

#get-started {
  background-color: var(--linc--green);
  padding: 4rem 0;
}

section p {
  font-size: 20px;
}

.grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content {
  padding: 1rem;
}

img[src*=".jpg"]:not(.hero-photo-grid--item),
img[src*=".png"]:not(.hero-photo-grid--item),
img[src*=".webp"]:not(.hero-photo-grid--item) {
  border-radius: 2rem;

  --s: 6rem; /* the size on the corner */
  --t: 5px;  /* the thickness of the border */
  --g: 1rem; /* the gap between the border and image */
  
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid var(--linc--green--dark); /* the color here */
  outline-offset: calc(-1*var(--t));
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
     0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    conic-gradient(#000 0 0) content-box;
  transition: .4s;
}

img[src*=".svg"] {
  width: 100%;
  max-width: 240px;
  margin: auto;
}

[data-page=index] [role="button"] {
  border-width: 4px;
  transition: background-color var(--pico-transition),border-color var(--pico-transition),color var(--pico-transition),box-shadow var(--pico-transition), transform var(--pico-transition);
}

[data-page=index] [role="button"]:hover {
  transform: translate(-4px, -4px);
}

[data-page=index] [role="button"].primary {
  background-color: var(--linc--purple);
  border-color: var(--linc--purple);
  color: var(--white);
}

[data-page=index] [role="button"].primary:hover {
  box-shadow: 4px 6px 0 hsla(var(--linc--purple--hs), 20%, 1);
}

[data-page=index] [role="button"].outline {
  background-color: rgba(var(--white--rgb, 0.5));
  color: var(--linc--purple);
  border-color: var(--linc--purple);
}

[data-page=index] [role="button"].outline:hover {
  box-shadow: 4px 4px 0 var(--linc--purple);
}

.headline em {
  text-decoration: underline;
}

.steps {
  counter-reset: primary 0;
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  grid-template-columns: 1fr 1fr;
  align-items: start;
  background-color: var(--seashell);
  padding-bottom: 2rem;
}

.step--info {
  background-color: var(--seashell);
}

.step {
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-template-columns: 1fr;
  align-items: start;
  padding: 4rem 0;
  min-height: 50vh;
}

.step--figure {
  /* padding-right: 5vw; */
  text-align: center;
  padding: 0.5rem;
}

.step--label::before {
  counter-increment: primary;
  content: counter(primary)". ";
}

.step--label {
  font-weight: 300;
  text-align: right;
  cursor: pointer;
}

.step--listing {
  position: sticky;
  top: 68px;
}

.step--label {
  padding: 0.5rem;
  margin: 0;
}

.step--label:first-child {
  padding-top: 4rem;
}

.step--details {
  padding: 0 1rem;
}

[data-step] {
  opacity: .5;
  transition: 200ms ease-in-out opacity, 200ms ease-in-out color, 200ms ease-in-out background-color;
}

.steps[data-active-step=1] [data-step=1],
.steps[data-active-step=2] [data-step=2],
.steps[data-active-step=3] [data-step=3],
.steps[data-active-step=4] [data-step=4] {
  color: var(--linc--green);
  background-color: var(--white);
  opacity: 1;
}

.steps[data-active-step] .step--label[data-step]:hover {
  color: var(--linc--purple);
  opacity: 1;
}

.steps[data-active-step=1] .step--label[data-step=1],

.steps[data-active-step=2] .step--label[data-step=1],
.steps[data-active-step=2] .step--label[data-step=2],

.steps[data-active-step=3] .step--label[data-step=1],
.steps[data-active-step=3] .step--label[data-step=2],
.steps[data-active-step=3] .step--label[data-step=3],

.steps[data-active-step=4] .step--label[data-step=1],
.steps[data-active-step=4] .step--label[data-step=2],
.steps[data-active-step=4] .step--label[data-step=3],
.steps[data-active-step=4] .step--label[data-step=4],

.steps[data-active-step=4] {
  opacity: 1;
  background-color: var(--white);
}


/* @media screen and (min-width:576px) {
  
} */
@media screen and (min-width:768px) {

  .steps {
    grid-template-columns: 1fr 2fr;
  }

  .step {
    grid-template-columns: 2fr 1fr;
  }

  .step--figure {
    padding: 0 5vw 0 0;
    text-align: left;
  }

  .step--label {
    padding: 1rem;
  }
}
/* @media screen and (min-width:1024px) {
  
}
@media screen and (min-width:1280px) {
  
}
@media screen and (min-width:1536px) {
  
} */
</style>