---
import BaseLayout from "@layouts/BaseLayout.astro";
import Heading from "@components/Heading.astro";

import { Image } from "astro:assets";
import familyWithBikingDaughter from '@assets/images/family-bike.jpg'
import family1 from '@assets/images/pexels-august-de-richelieu-4260639.jpg'
import family2 from '@assets/images/pexels-cottonbro-6667301.jpg'
import family3 from '@assets/images/pexels-elly-fairytale-3893723.jpg'
import family4 from '@assets/images/pexels-olly-3820120.jpg'
import family5 from '@assets/images/pexels-pnw-prod-7677946.jpg'
import family6 from '@assets/images/pexels-shvetsa-4586685-cropped.jpg'
import person1 from '@assets/images/joao-reguengos-XPUFYcf284w-unsplash.jpg'

import stepAppreciation from '@assets/images/Appreciation-amico(1).svg'
import stepFamily from '@assets/images/Family-amico.svg'
import stepApply from '@assets/images/Feed-amico.svg'
import stepTeam from '@assets/images/Good team-pana.svg'
import stepFinance from '@assets/images/Personal finance-amico.svg'
import stepReview from '@assets/images/Webinar-amico.svg'

import gridRenter1 from '@assets/images/grid/alvaro-reyes-3Cigxs7xEkM-unsplash.jpg'
import gridRenter2 from '@assets/images/grid/assal-mshk-NP5Z_Mg8Q04-unsplash-cropped.jpg'
import gridRenter3 from '@assets/images/grid/family-bike.jpg'
import gridRenter4 from '@assets/images/grid/joao-reguengos-XPUFYcf284w-unsplash.jpg'
import gridRenter5 from '@assets/images/grid/pexels-august-de-richelieu-4260639.jpg'
import gridRenter6 from '@assets/images/grid/pexels-elly-fairytale-3893723.jpg'
import gridRenter7 from '@assets/images/grid/pexels-shvetsa-4586685-cropped.jpg'

const pageTitle: string = "LINC: Get help for rent in Fort Bend!";
---

<BaseLayout pageTitle={pageTitle}>
  <main data-page="index">
    <!-- <section>

    </section> -->
    <section id="how-it-works">
      <div class="container">
        <div class="grid">
          <div class="content intro">
            <h1>How Fort Bend LINC works.</h1>
            <p>There are 4 steps to rental assistance with Fort Bend LINC.
              With each step, we ask for just the amount of information we need.
              Until we pledge funds for your case, we may find that we are unable to help at any step.
              As soon as we know we cannot help you, we will let you know.</p>
            <p>Here is the process:</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div>
        <div class="steps">
          <h4 class="step--label">
            You fill out a questionnaire.
          </h4>
          <div class="step--details">
            <ul>
              <li><p>It takes less than one minute.</p></li>
              <li><p>You will know right away whether you are eligible to submit a full application.</p></li>
            </ul>
          </div>
          <div class="step--figure">
            <Image src={stepApply} alt="applying on phone"/>
          </div>

            <h4 class="step--label">
              You submit a full application.
            </h4>
            <div class="step--details">
              <ul>
                <li><p>If you are eligible to apply, you receive an invitation by email to submit a full application.</p></li>
                <li><p>The application takes approximately 20 minutes to complete.</p></li>
                <li>
                  <p>
                    You will fill out information about
                  </p>
                  <ul>
                    <li><p>your household,</p></li>
                    <li><p>your rental property and landlord, along with</p></li>
                    <li><p>how much rental assistance you are requesting.</p></li>
                  </ul>
                </li>
                <li>
                  <p>You will need to upload a copy of a Photo ID and a copy of your Rental Agreement.</p>
                </li>
              </ul>
            </div>
            <div class="step--figure">
              <Image src={stepFinance} alt="applying more details"/>
            </div>

            <h4 class="step--label">Your application is reviewed.</h4>
            <div class="step--details">
              <ul>
                <li><p>Our team of agencies review your application.</p></li>
                <li><p>If Fort Bend LINC is not able to help, we share other options with you.</p></li>
                <li><p>If Fort Bend LINC is able to help, we notify you and request any missing information and documents.</p></li>
                <li><p>Once all information and documents are submitted and confirmed, and we know we can help, we pledge funds for your case.</p></li>
              </ul>
            </div>
            <div class="step--figure">
              <Image src={stepTeam} alt="team review"/>
            </div>

            <h4 class="step--label">Our agencies sends rent payment to your landlord.</h4>
            <div class="step--details">
              <ul>
                <li><p>We send the confirmed rental amount to your landlord.</p></li>
              </ul>
            </div>
            <div class="step--figure">
              <Image src={stepFamily} alt="team review"/>
            </div>
        </div>
      </div>
    </section>
    <section id="get-started">
      <div class="container">
        <div class="grid">
          <div>
            <Image src={family1} alt="family"/>
          </div>
          <div class="content">
            <h1>Get started!</h1>
            <p>You can complete the pre-screener on your phone or computer.</p>
            <p>For this first step, we will be asking for information about your household.</p>
            <p>
              <a href="https://harveyhomeconnect--linc.sandbox.my.site.com/MyLINC/s/apply-for-assistance" role="button" class="primary">See if you qualify</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>

<style define:vars={{ family: `url(${familyWithBikingDaughter.src})` }}>
section#how-it-works {
  /* min-height: 700px; */
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

section p {
  font-size: 20px;
}

.grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content {
  padding: 1rem;
}

.hero-photo-grid {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
}

.hero-photo-grid--item {
  margin-bottom: 0.25rem;
}

img[src*=".jpg"]:not(.hero-photo-grid--item),
img[src*=".webp"]:not(.hero-photo-grid--item) {
  border-radius: 2rem;

  --s: 6rem; /* the size on the corner */
  --t: 5px;  /* the thickness of the border */
  --g: 1rem; /* the gap between the border and image */
  
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid var(--linc--green--dark); /* the color here */
  outline-offset: calc(-1*var(--t));
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
     0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    conic-gradient(#000 0 0) content-box;
  transition: .4s;
}

img[src*=".svg"] {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: hsla(var(--linc--green--dark--hs), 20%, 1);
}

.hero {
  /* background-image: var(--family); */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  background-color: rgba(var(--linc--green--rgb), 1);
}

/* .hero h1 {
  color: var(--linc--green--dark);
} */

[data-page=index] [role="button"] {
  border-width: 4px;
  transition: background-color var(--pico-transition),border-color var(--pico-transition),color var(--pico-transition),box-shadow var(--pico-transition), transform var(--pico-transition);
}

[data-page=index] [role="button"]:hover {
  transform: translate(-4px, -4px);
}

[data-page=index] [role="button"].primary {
  background-color: hsla(var(--linc--purple--hs), 50%, 1);
  border-color: hsla(var(--linc--purple--hs), 50%, 1);
  color: var(--white);
}

[data-page=index] [role="button"].primary:hover {
  box-shadow: 4px 6px 0 hsla(var(--linc--purple--hs), 20%, 1);
}

[data-page=index] [role="button"].outline {
  background-color: rgba(var(--white--rgb, 0.5));
  color: hsla(var(--linc--purple--hs), 50%, 1);
  border-color: hsla(var(--linc--purple--hs), 50%, 1);
}

[data-page=index] [role="button"].outline:hover {
  box-shadow: 4px 4px 0 hsla(var(--linc--purple--hs), 50%, 1);
}

/* .hero > div {
  background-color: rgba(var(--linc--green--rgb), 0.8);
  backdrop-filter: blur(10px);
} */

.headline em {
  text-decoration: underline;
}



#get-started {
  background-color: var(--seashell);
}
#get-started .content {
  text-align: left;
}
#get-started .headline {
  text-align: center;
}
#get-started h1 {
  color: var(--linc--green--dark);
}
#get-started h3 {
  color: var(--linc--green);
}
#get-started > div > h1 {
  margin-top: 2rem;
}


#how-it-works {
  background-color: var(--linc--green);
}
/* 
#how-it-works .intro {
  text-align: center;
} */

.steps {
  counter-reset: primary 0;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: start;
}

.step--label, .step--details, .step--figure {
  height: 100%;
}

/* .step--label {
  padding-left: 10vw;
}
*/
/* .step--figure {
  padding-right: 10vw;
} */

.step--label::before {
  counter-increment: primary;
  content: counter(primary)". ";
}

.step--label {
  font-weight: 300;
  position: sticky;
  top: 100px;
  /* background-color: white; */
  text-align: right;
}

.steps > *:nth-child(odd of .step--label),
.steps > *:nth-child(odd of .step--figure),
.steps > *:nth-child(odd of .step--details) {
  background-color: var(--seashell);
}

.steps > *:nth-child(even of .step--label),
.steps > *:nth-child(even of .step--figure),
.steps > *:nth-child(even of .step--details) {
  background-color: var(--white);
}

.steps > *:nth-child(1 of .step--label) {
  top: 100px;
}
.steps > *:nth-child(2 of .step--label) {
  top: 140px;
}
.steps > *:nth-child(3 of .step--label) {
  top: 180px;
}
.steps > *:nth-child(4 of .step--label) {
  top: 220px;
}

.step--details, .step--figure {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* .step {
  text-align: center;
} */

/* #how-it-works img {
  outline: var(--t) solid var(--linc--green);
}
#how-it-works p {
  color: var(--white);
}
#how-it-works h1 {
  color: var(--linc--green);
}
#how-it-works h3 {
  color: var(--linc--green);
} */


@media (min-width:576px) {
  .hero-photo-grid--sibling {
    max-width:405px;
    padding-right:0;
    padding-left:0
  }
}
@media (min-width:768px) {
  .hero-photo-grid--sibling {
    max-width:350px
  }
}
@media (min-width:1024px) {
  .hero-photo-grid--sibling {
    max-width:475px
  }
}
@media (min-width:1280px) {
  .hero-photo-grid--sibling {
    max-width:600px
  }
}
@media (min-width:1536px) {
  .hero-photo-grid--sibling {
    max-width:725px
  }
}
</style>