---
import BaseLayout from "@layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import onComputer from '@assets/images/on-computer.png'
import family1 from '@assets/images/pexels-august-de-richelieu-4260639.jpg'

const pageTitle: string = "LINC: Get help for rent in Fort Bend!";

const steps = await getCollection("steps");
const stepsWithContent = await Promise.all(steps
  .map(async (step) => ({
    ...step,
    ...await step.render(),
  })));
---

<script>
  import scrollama from "scrollama";
  const scroller = scrollama();
  scroller
    .setup({
      step: ".step--details",
    })
    .onStepEnter((step) => {
      console.log('enter', step)
      if (step.element.dataset.step === '5') {
        step.element.parentElement?.setAttribute('data-active-step', step.element.dataset.step)
        return
      }
      if (step.element.dataset.step === '1') {
        step.element.parentElement?.setAttribute('data-active-step', '0')
        return
      }
      if (step.direction === 'up') {
        step.element.parentElement?.setAttribute('data-active-step', `${(step.element.dataset.step) - 1}`)
      }
    })
    .onStepExit((step) => {
      console.log('enter', step)
      if (step.direction === 'down') {
        step.element.parentElement?.setAttribute('data-active-step', step.element.dataset.step || '')
      }
    });
</script>

<BaseLayout pageTitle={pageTitle}>
  <main data-page="index">
    <section id="how-it-works">
      <div class="container">
        <div class="grid">
          <div class="content intro">
            <h1>How Fort Bend LINC works.</h1>
            <p>There are 4 steps to rental assistance with Fort Bend LINC.</p>
            <p>With each step, we ask for just the amount of information we need.  Until we pledge funds for your case, we may find that we are unable to help at any step. As soon as we know we cannot help you, we will let you know.</p>
            <p>Learn more about the steps to get started.</p>
          </div>
          <div>
            <Image src={onComputer} alt="Applying on computer"/>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div>
        <div class="steps">
          {stepsWithContent
            .map((step) => 
            (<>
              <h4 class="step--label" data-step={step.data.order} data-slug={step.slug} data-summary={step.data.isSummary && "summary" || ""}>
                {step.data.title}
              </h4>
              <div class="step--details" data-step={step.data.order} data-slug={step.slug}>
                <step.Content/>
              </div>
              <div class="step--figure" data-step={step.data.order} data-slug={step.slug}>
                <Image src={step.data.cover} alt={step.data.coverAlt}/>
              </div>
            </>
            )
          )}
        </div>
      </div>
    </section>
    <section id="get-started">
      <div class="container">
        <div class="grid">
          <div>
            <Image src={family1} alt="family"/>
          </div>
          <div class="content">
            <h1>Get started!</h1>
            <p>You can complete the pre-screener on your phone or computer.</p>
            <p>For this first step, we will be asking for information about your household.</p>
            <p>
              <a href="https://harveyhomeconnect--linc.sandbox.my.site.com/MyLINC/s/apply-for-assistance" role="button" class="primary">See if you qualify</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
#how-it-works {
  /* min-height: 700px; */
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background-color: var(--linc--green);
}

section p {
  font-size: 20px;
}

.grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content {
  padding: 1rem;
}

.hero-photo-grid {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
}

.hero-photo-grid--item {
  margin-bottom: 0.25rem;
}

img[src*=".jpg"]:not(.hero-photo-grid--item),
img[src*=".png"]:not(.hero-photo-grid--item),
img[src*=".webp"]:not(.hero-photo-grid--item) {
  border-radius: 2rem;

  --s: 6rem; /* the size on the corner */
  --t: 5px;  /* the thickness of the border */
  --g: 1rem; /* the gap between the border and image */
  
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid var(--linc--green--dark); /* the color here */
  outline-offset: calc(-1*var(--t));
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
     0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    conic-gradient(#000 0 0) content-box;
  transition: .4s;
}

img[src*=".svg"] {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: hsla(var(--linc--green--dark--hs), 20%, 1);
}
/* .hero h1 {
  color: var(--linc--green--dark);
} */

[data-page=index] [role="button"] {
  border-width: 4px;
  transition: background-color var(--pico-transition),border-color var(--pico-transition),color var(--pico-transition),box-shadow var(--pico-transition), transform var(--pico-transition);
}

[data-page=index] [role="button"]:hover {
  transform: translate(-4px, -4px);
}

[data-page=index] [role="button"].primary {
  background-color: hsla(var(--linc--purple--hs), 50%, 1);
  border-color: hsla(var(--linc--purple--hs), 50%, 1);
  color: var(--white);
}

[data-page=index] [role="button"].primary:hover {
  box-shadow: 4px 6px 0 hsla(var(--linc--purple--hs), 20%, 1);
}

[data-page=index] [role="button"].outline {
  background-color: rgba(var(--white--rgb, 0.5));
  color: hsla(var(--linc--purple--hs), 50%, 1);
  border-color: hsla(var(--linc--purple--hs), 50%, 1);
}

[data-page=index] [role="button"].outline:hover {
  box-shadow: 4px 4px 0 hsla(var(--linc--purple--hs), 50%, 1);
}

/* .hero > div {
  background-color: rgba(var(--linc--green--rgb), 0.8);
  backdrop-filter: blur(10px);
} */

.headline em {
  text-decoration: underline;
}

.steps {
  counter-reset: primary 0;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: start;
}

.step--label, .step--details, .step--figure {
  height: 100%;
}

/* .step--label {
  padding-left: 10vw;
}
*/
.step--figure {
  padding-right: 10vw;
}

.step--label[data-summary=""]::before {
  counter-increment: primary;
  content: counter(primary)". ";
}

.step--label[data-summary="summary"] {
  visibility: hidden;
}

.step--label {
  font-weight: 300;
  position: sticky;
  top: 100px;
  /* background-color: white; */
  text-align: right;
}

.steps > *:nth-child(odd of .step--label),
.steps > *:nth-child(odd of .step--figure),
.steps > *:nth-child(odd of .step--details) {
  background-color: var(--seashell);
}

.steps > *:nth-child(even of .step--label),
.steps > *:nth-child(even of .step--figure),
.steps > *:nth-child(even of .step--details) {
  background-color: var(--white);
}

.steps > *:nth-child(1 of .step--label) {
  top: 100px;
  z-index: 2;
}
.steps > *:nth-child(2 of .step--label) {
  top: 140px;
  z-index: 3;
}
.steps > *:nth-child(3 of .step--label) {
  top: 180px;
  z-index: 4;
}
.steps > *:nth-child(4 of .step--label) {
  top: 220px;
  z-index: 5;
}
.steps > .step--label[data-summary="summary"] {
  margin-bottom: 100vh;
}

.step--details, .step--figure {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.step--label {
  padding-top: 2rem;
  padding-right: 1rem;
  transition: 500ms linear padding;
}

.step--details {
  padding-left: 1rem;
}

.steps[data-active-step=5] > *:nth-child(1 of .step--label),
.steps[data-active-step=5] > *:nth-child(2 of .step--label),
.steps[data-active-step=5] > *:nth-child(3 of .step--label),
.steps[data-active-step=5] > *:nth-child(4 of .step--label),
.steps[data-active-step=5] > *:nth-child(5 of .step--label) {
  padding-top: 0.25rem;
  background-color: var(--seashell);
}

.steps[data-active-step=5] > *:nth-child(1 of .step--label) {
  top: 138px;
  z-index: 2;
}
.steps[data-active-step=5] > *:nth-child(2 of .step--label) {
  top: 178px;
  z-index: 3;
}
.steps[data-active-step=5] > *:nth-child(3 of .step--label) {
  top: 218px;
  z-index: 4;
}
.steps[data-active-step=5] > *:nth-child(4 of .step--label) {
  top: 258px;
  z-index: 5;
}

.steps[data-active-step=4] > *:nth-child(1 of .step--label),
.steps[data-active-step=4] > *:nth-child(2 of .step--label),
.steps[data-active-step=4] > *:nth-child(3 of .step--label),
.steps[data-active-step=4] > *:nth-child(4 of .step--label),

.steps[data-active-step=3] > *:nth-child(1 of .step--label),
.steps[data-active-step=3] > *:nth-child(2 of .step--label),
.steps[data-active-step=3] > *:nth-child(3 of .step--label),

.steps[data-active-step=2] > *:nth-child(1 of .step--label),
.steps[data-active-step=2] > *:nth-child(2 of .step--label),

.steps[data-active-step=1] > *:nth-child(1 of .step--label) {
  padding-top: 0.25rem;
}

.steps[data-active-step=0] > *:nth-child(1 of .step--label),
.steps[data-active-step=1] > *:nth-child(2 of .step--label),
.steps[data-active-step=2] > *:nth-child(3 of .step--label),
.steps[data-active-step=3] > *:nth-child(4 of .step--label) {
  color: var(--linc--green);
}

/* .step {
  text-align: center;
} */

/* #how-it-works img {
  outline: var(--t) solid var(--linc--green);
}
#how-it-works p {
  color: var(--white);
}
#how-it-works h1 {
  color: var(--linc--green);
}
#how-it-works h3 {
  color: var(--linc--green);
} */


@media (min-width:576px) {
  .hero-photo-grid--sibling {
    max-width:405px;
    padding-right:0;
    padding-left:0
  }
}
@media (min-width:768px) {
  .hero-photo-grid--sibling {
    max-width:350px
  }
}
@media (min-width:1024px) {
  .hero-photo-grid--sibling {
    max-width:475px
  }
}
@media (min-width:1280px) {
  .hero-photo-grid--sibling {
    max-width:600px
  }
}
@media (min-width:1536px) {
  .hero-photo-grid--sibling {
    max-width:725px
  }
}
</style>