---
import BaseLayout from "@layouts/BaseLayout.astro";
import Heading from "@components/Heading.astro";

import { Image } from "astro:assets";
import familyWithBikingDaughter from '@assets/images/family-bike.jpg'
import family1 from '@assets/images/pexels-august-de-richelieu-4260639.jpg'
import family2 from '@assets/images/pexels-cottonbro-6667301.jpg'
import family3 from '@assets/images/pexels-elly-fairytale-3893723.jpg'
import family4 from '@assets/images/pexels-olly-3820120.jpg'
import family5 from '@assets/images/pexels-pnw-prod-7677946.jpg'
import family6 from '@assets/images/pexels-shvetsa-4586685-cropped.jpg'
import person1 from '@assets/images/joao-reguengos-XPUFYcf284w-unsplash.jpg'

import stepAppreciation from '@assets/images/Appreciation-amico(1).svg'
import stepFamily from '@assets/images/Family-amico.svg'
import stepApply from '@assets/images/Feed-amico.svg'
import stepTeam from '@assets/images/Good team-pana.svg'
import stepFinance from '@assets/images/Personal finance-amico.svg'
import stepReview from '@assets/images/Webinar-amico.svg'


const pageTitle: string = "LINC: Get help for rent in Fort Bend!";
---

<BaseLayout pageTitle={pageTitle}>
  <main data-page="index">
    <!-- <section>

    </section> -->
    <!-- Hero -->
    <section class="hero">
      <!-- <div> -->
        <div class="container grid">
          <div>
            <Image src={familyWithBikingDaughter} alt="Fort Bend family biking"/>
          </div>
          <div class="content">
            <Heading
              title="Many Fort Bend residents need help for rent."
              heading="1"
              description="Fort Bend LINC connects people like you to rental assistance."
            />
            <p>
              <a href="#get-started" role="button" class="primary">See if you qualify</a>
              <a href="#why-linc" role="button" class="outline">Learn more</a>
            </p>
          </div>
        </div>
      <!-- </div> -->
    </section>
  <!-- ./ Hero -->
    <section id="why-linc">
      <div class="container">
        <h1 class="headline">In 2024, more than 1,000 Fort Bend residents needed rental assistance.</h1>
        <div class="grid">
          <div class="content">
            <h3>Here's how they got help.</h3>
            <p>The Smith family had job changes and new medical bills in the beginning of 2024.  They got behind on a couple of bills and were starting to catch up.  Then, the May derechos hit and caused car damage. They reached out to their landlord about how they were struggling. The due date for their rent was extended. They applied for rental assistance with ______ and got two months rent paid.</p>
            <p>After two months, they were back on their feet.</p>
          </div>
          <div>
            <Image src={family5} alt="Smith family"/>
          </div>
        </div>
        <h1 class="headline">LINC can connect <em>you</em> to the rental assistance you need.</h1>
      </div>
    </section>
    <section id="how-it-works">
      <div class="container">
        <div class="grid">
          <div class="content intro">
            <h1>How LINC works</h1>
            <p>With LINC, you'll get answers quickly, whether it be yes or no. Here's how:</p>
          </div>
        </div>
        <div class="steps">
          <div class="step grid">
            <div class="step--figure" style="text-align: right;">
              <Image src={stepApply} alt="applying on phone"/>
            </div>
            <div class="step--label">
              <p>
                You fill out a 7 question pre-screener that takes 2 minutes. You know right away whether you might qualify.
              </p>
            </div>
          </div>

          <div class="step grid">
            <div class="step--figure" style="text-align: right;">
              <Image src={stepFinance} alt="applying more details"/>
            </div>
            <div class="step--label">
              <p>If you might qualify, we invite you to submit an application that takes 20 minutes to complete.</p>
              <p>You will fill out information about your household, your rental property and landlord, along with how much rental assistance you are requesting. You will also need to upload proof of identity and proof of residence.</p>
            </div>
          </div>

          <div class="step grid">
            <div class="step--label" style="text-align: right;">
              <p>Our partner agencies will review your request to see whether we can help within ___ days.</p>
            </div>
            <div class="step--figure">
              <Image src={stepTeam} alt="team review"/>
            </div>
          </div>
          <div class="step grid">
            <div class="step--label" style="text-align: right;">
              <p>Within ___ days, </p>
              <p>if we are not able to meet your rental assistance needs, we will let you know.</p>
              <p>if we are able to meet you rental assistance needs, we will follow up for more information.</p>
            </div>
            <div class="step--figure">
              <Image src={stepReview} alt="team review"/>
            </div>
          </div>
          <div class="step grid">
            <div class="step--label" style="text-align: right;">
              <p>Once we have all the informaiton and documents needed, we will send the confirmed rental amount to your landlord.</p>
            </div>
            <div class="step--figure">
              <Image src={stepFamily} alt="team review"/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="get-started">
      <div class="container">
        <div class="grid">
          <div>
            <Image src={family1} alt="family"/>
          </div>
          <div class="content">
            <h1>Get started</h1>
            <p>You can complete the pre-screener on your phone or computer.</p>
            <p>You will be filling out information about your household.</p>
            <p>
              <a href="https://harveyhomeconnect--linc.sandbox.my.site.com/MyLINC/s/apply-for-assistance" role="button" class="primary">See if you qualify</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="whats-next">
      <div class="container">
        <div class="grid">
          <div>
            <Image src={family6} alt="family"/>
          </div>
          <div class="content">
            <h1>What's next</h1>
            <p>While LINC connects to more than 5 rental assistance programs with each application, funds are limited. We will try our best to meet your needs, and we really appreciate you reaching out.</p>
            <p>After submitting an application, we highly recommend:</p>
            <ul>
              <li>
                <p>Letting your landlord know you're looking for assistance.</p>
                <ul>
                  <li>You can share fortbendlinc.org/for-landlords with them.</li>
                </ul>
              </li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>

<style define:vars={{ family: `url(${familyWithBikingDaughter.src})` }}>
section {
  min-height: 700px;
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
}

section p {
  font-size: 20px;
}

.grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content {
  padding: 1rem;
}

img[src*=".jpg"] {
  border-radius: 2rem;

  --s: 6rem; /* the size on the corner */
  --t: 5px;  /* the thickness of the border */
  --g: 1rem; /* the gap between the border and image */
  
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid var(--linc--green--dark); /* the color here */
  outline-offset: calc(-1*var(--t));
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
     0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    conic-gradient(#000 0 0) content-box;
  transition: .4s;
}

img[src*=".svg"] {
  width: 50%;
}

h1, h2, h3, h4, h5, h6 {
  color: hsla(var(--linc--green--dark--hs), 20%, 1);
}

.hero {
  /* background-image: var(--family); */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  background-color: rgba(var(--linc--green--rgb), 1);
}

/* .hero h1 {
  color: var(--linc--green--dark);
} */

[data-page=index] [role="button"] {
  border-width: 4px;
  transition: background-color var(--pico-transition),border-color var(--pico-transition),color var(--pico-transition),box-shadow var(--pico-transition), transform var(--pico-transition);
}

[data-page=index] [role="button"]:hover {
  transform: translate(-4px, -4px);
}

[data-page=index] [role="button"].primary {
  background-color: hsla(var(--linc--purple--hs), 50%, 1);
  border-color: hsla(var(--linc--purple--hs), 50%, 1);
  color: var(--white);
}

[data-page=index] [role="button"].primary:hover {
  box-shadow: 4px 6px 0 hsla(var(--linc--purple--hs), 20%, 1);
}

[data-page=index] [role="button"].outline {
  background-color: rgba(var(--white--rgb, 0.5));
  color: hsla(var(--linc--purple--hs), 50%, 1);
  border-color: hsla(var(--linc--purple--hs), 50%, 1);
}

[data-page=index] [role="button"].outline:hover {
  box-shadow: 4px 4px 0 hsla(var(--linc--purple--hs), 50%, 1);
}

/* .hero > div {
  background-color: rgba(var(--linc--green--rgb), 0.8);
  backdrop-filter: blur(10px);
} */

.headline em {
  text-decoration: underline;
}

#why-linc {
  background-color: var(--seashell);
}
#why-linc .content {
  text-align: right;
}
#why-linc .headline {
  text-align: center;
}
#why-linc h1 {
  color: var(--linc--green--dark);
}
#why-linc h3 {
  color: var(--linc--green);
}
#why-linc > div > h1 {
  margin-top: 2rem;
}

#get-started {
  background-color: var(--seashell);
}
#get-started .content {
  text-align: left;
}
#get-started .headline {
  text-align: center;
}
#get-started h1 {
  color: var(--linc--green--dark);
}
#get-started h3 {
  color: var(--linc--green);
}
#get-started > div > h1 {
  margin-top: 2rem;
}

#whats-next {
  background-color: var(--linc--green);
}

#how-it-works .intro {
  text-align: center;
}

.steps {
  counter-reset: primary 0;
}

.step--label::before {
  counter-increment: primary;
  content: counter(primary)". ";
}

/* #how-it-works img {
  outline: var(--t) solid var(--linc--green);
}
#how-it-works p {
  color: var(--white);
}
#how-it-works h1 {
  color: var(--linc--green);
}
#how-it-works h3 {
  color: var(--linc--green);
} */
</style>