---
import BaseLayout from "@layouts/BaseLayout.astro";
import PhotoGrid from "@components/PhotoGrid.astro";

import CallToAction from "@components/CallToAction.astro";

import { getEntry } from "astro:content";

const indexSection = await getEntry('parts', 'index')
const indexSectionWithContent = {
  ...indexSection,
  ...await indexSection?.render(),
}

const pageTitle: string = "LINC: Get help for rent in Fort Bend!";
const base_url = `${import.meta.env.BASE_URL}`;
---

<BaseLayout pageTitle={pageTitle}>
  <main data-page="index">
    <PhotoGrid/>


    <!-- Hero -->
    <section class="hero">
      <!-- <div> -->
        <div class="container grid">
          <div class="hero-photo-grid--spacer">
          </div>

          <div class="content hero-photo-grid--sibling">
            <h1>
              {indexSectionWithContent.data?.headline}
            </h1>
            <indexSectionWithContent.Content/>
            <p>
              <CallToAction
                call_to_location={`${base_url}get-started/`}
                call_to_action={indexSectionWithContent.data?.call_to_action}
              />
            </p>
          </div>
        </div>
      <!-- </div> -->
    </section>
  <!-- ./ Hero -->
  </main>
</BaseLayout>

<style>
main {
  height: 100%;
}

.hero {
  background-color: rgba(var(--linc--green--rgb), 1);
  display: flex;
  align-items: center;
  min-height: 90vh;
  /* padding: 4rem 0; */
}

.hero-photo-grid--sibling {
  z-index: 10;
  position: relative;
  background-color: var(--linc--green);
}

@media (min-width:576px) {
  .hero-photo-grid--sibling {
    padding: 2rem;
  }
}
@media (min-width:768px) {
  .hero-photo-grid--sibling {
    max-width: 350px;
    position: static;
    z-index: inherit;
    background-color: none;
  }
}
@media (min-width:1024px) {
  .hero-photo-grid--sibling {
    max-width:475px;
  }
}
@media (min-width:1280px) {
  .hero-photo-grid--sibling {
    max-width:600px;
  }
}
@media (min-width:1536px) {
  .hero-photo-grid--sibling {
    max-width:725px;
  }
}
</style>