---
import BaseLayout from "@layouts/BaseLayout.astro";
import Heading from "@components/Heading.astro";

import { Image } from "astro:assets";

import gridRenter1 from '@assets/images/grid/alvaro-reyes-3Cigxs7xEkM-unsplash.jpg'
import gridRenter2 from '@assets/images/grid/assal-mshk-NP5Z_Mg8Q04-unsplash-cropped.jpg'
import gridRenter3 from '@assets/images/grid/family-bike.jpg'
import gridRenter4 from '@assets/images/grid/joao-reguengos-XPUFYcf284w-unsplash.jpg' 
import gridRenter5 from '@assets/images/grid/pexels-august-de-richelieu-4260639.jpg'
import gridRenter6 from '@assets/images/grid/pexels-elly-fairytale-3893723.jpg'
import gridRenter7 from '@assets/images/grid/pexels-shvetsa-4586685-cropped.jpg'

import gridRenter8 from '@assets/images/grid/pexels-pnw-prod-7677946.jpg'

import gridRenter9 from '@assets/images/grid/pexels-ivan-samkov-4784014.jpg'
import gridRenter10 from '@assets/images/grid/pexels-ketut-subiyanto-4474036.jpg'
import gridRenter11 from '@assets/images/grid/pexels-marcus-aurelius-6787970.jpg'
import gridRenter12 from '@assets/images/grid/pexels-mart-production-7415122.jpg'
import gridRenter13 from '@assets/images/grid/pexels-mikhail-nilov-6973191.jpg'
import gridRenter14 from '@assets/images/grid/pexels-rdne-7951664.jpg'
import gridRenter15 from '@assets/images/grid/pexels-william-fortunato-6393356.jpg'

import gridRenter20 from '@assets/images/grid/pexels-cottonbro-5895052.jpg'
import gridRenter21 from '@assets/images/grid/pexels-elly-fairytale-3893532.jpg'
import gridRenter22 from '@assets/images/grid/pexels-ketut-subiyanto-4473602.jpg'
import gridRenter23 from '@assets/images/grid/pexels-nicola-barts-7943433.jpg'
import gridRenter24 from '@assets/images/grid/pexels-olly-3768140.jpg'

const pageTitle: string = "LINC: Get help for rent in Fort Bend!";
---

<BaseLayout pageTitle={pageTitle}>
  <main data-page="index">
    <div class="grid hero-photo-grid">
      <div>
        <Image src={gridRenter3} alt="Family biking in neighborhood" class="hero-photo-grid--item"/>
        <Image src={gridRenter2} alt="Family in park" class="hero-photo-grid--item"/>
        <!-- <Image src={gridRenter10} alt="Woman and daughter smiling" class="hero-photo-grid--item"/> -->
        <Image src={gridRenter22} alt="Woman and daughter smiling" class="hero-photo-grid--item"/>
        <Image src={gridRenter14} alt="Grandmother, mother, sister and child at home" class="hero-photo-grid--item"/>
        <Image src={gridRenter9} alt="Mother and children on laptop" class="hero-photo-grid--item"/>

        <Image src={gridRenter20} alt="Father reading to daughter in bed" class="hero-photo-grid--item"/>
        <!-- <Image src={gridRenter21} alt="Woman smiling at camera in home" class="hero-photo-grid--item"/> -->
        <Image src={gridRenter23} alt="Mother and daughter in yard" class="hero-photo-grid--item"/>
        <Image src={gridRenter24} alt="Grandmother and granddaugther" class="hero-photo-grid--item"/>
      </div>
      <div>
        <Image src={gridRenter1} alt="Grandpa with child in yard" class="hero-photo-grid--item"/>
        <Image src={gridRenter4} alt="Woman smiling at camera in home" class="hero-photo-grid--item"/>
        <Image src={gridRenter5} alt="Family hanging out on couch" class="hero-photo-grid--item"/>
        <Image src={gridRenter15} alt="Mother with baby in arm, working on laptop" class="hero-photo-grid--item"/>
        <Image src={gridRenter13} alt="Grandfather with young grandson on couch" class="hero-photo-grid--item"/>

        <Image src={gridRenter6} alt="Mother with teen in home" class="hero-photo-grid--item"/>
        <Image src={gridRenter7} alt="Father with toddler outside" class="hero-photo-grid--item"/>
        <Image src={gridRenter12} alt="Mother and father with son on couch" class="hero-photo-grid--item"/>
        <Image src={gridRenter11} alt="Elderly couple smiling on couch" class="hero-photo-grid--item"/>
        <Image src={gridRenter8} alt="Mother with toddler in kitchen" class="hero-photo-grid--item"/>
      </div>
      <div>
        <Image src={gridRenter21} alt="Mother with teen in kitchen" class="hero-photo-grid--item"/>
        <Image src={gridRenter7} alt="Father with toddler outside" class="hero-photo-grid--item"/>
        <Image src={gridRenter12} alt="Mother and father with son on couch" class="hero-photo-grid--item"/>
        <Image src={gridRenter11} alt="Elderly couple smiling on couch" class="hero-photo-grid--item"/>
        <Image src={gridRenter8} alt="Mother with toddler in kitchen" class="hero-photo-grid--item"/>

        <Image src={gridRenter3} alt="Family biking in neighborhood" class="hero-photo-grid--item"/>
        <Image src={gridRenter2} alt="Family in park" class="hero-photo-grid--item"/>
        <Image src={gridRenter10} alt="Woman and daughter smiling" class="hero-photo-grid--item"/>
        <Image src={gridRenter14} alt="Grandmother, mother, sister and child at home" class="hero-photo-grid--item"/>
        <!-- <Image src={gridRenter9} alt="Mother and children on laptop" class="hero-photo-grid--item"/> -->
      </div>
    </div>


    <!-- Hero -->
    <section class="hero">
      <!-- <div> -->
        <div class="container grid">
          <div class="hero-photo-grid--spacer">
          </div>

          <div class="content hero-photo-grid--sibling">
            <Heading
              title="Many Fort Bend neighbors need help for rent."
              heading="1"
              description="Fort Bend LINC connects Fort Bend renters to rental assistance."
            />
            <p>
              <a href="/linc-demo/get-started" role="button" class="primary">See if you qualify</a>
            </p>
          </div>
        </div>
      <!-- </div> -->
    </section>
  <!-- ./ Hero -->
  </main>
</BaseLayout>

<style>
.hero-photo-grid {
  grid-template-columns: repeat(auto-fit,minmax(0%,1fr));
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  
  position: fixed;
  z-index: 2;
  padding: 0.25rem;
  width: 100%;
}

.hero-photo-grid--item {
  margin-bottom: 0.25rem;
}

main {
  height: 100%;
}

.hero {
  background-color: rgba(var(--linc--green--rgb), 1);
  display: flex;
  align-items: center;
  min-height: 90vh;
  /* padding: 4rem 0; */
}

[data-page=index] [role="button"] {
  border-width: 4px;
  transition: background-color var(--pico-transition),border-color var(--pico-transition),color var(--pico-transition),box-shadow var(--pico-transition), transform var(--pico-transition);
}

[data-page=index] [role="button"]:hover {
  transform: translate(-4px, -4px);
}

[data-page=index] [role="button"].primary {
  background-color: var(--linc--purple);
  border-color: var(--linc--purple);
  color: var(--white);
}

[data-page=index] [role="button"].primary:hover {
  box-shadow: 4px 6px 0 hsla(var(--linc--purple--hs), 20%, 1);
}

[data-page=index] [role="button"].outline {
  background-color: rgba(var(--white--rgb, 0.5));
  color: var(--linc--purple);
  border-color: var(--linc--purple);
}

[data-page=index] [role="button"].outline:hover {
  box-shadow: 4px 4px 0 var(--linc--purple);
}

.hero-photo-grid--sibling {
  z-index: 10;
  position: relative;
  background-color: var(--linc--green);
}

@media (min-width:576px) {
  .hero-photo-grid--sibling {
    padding: 2rem;
  }
}
@media (min-width:768px) {
  .hero-photo-grid--sibling {
    max-width: 350px;
    position: static;
    z-index: inherit;
    background-color: none;
  }

  .hero-photo-grid {
    width: 50%;
  }
}
@media (min-width:1024px) {
  .hero-photo-grid--sibling {
    max-width:475px;
  }
}
@media (min-width:1280px) {
  .hero-photo-grid--sibling {
    max-width:600px;
  }
}
@media (min-width:1536px) {
  .hero-photo-grid--sibling {
    max-width:725px;
  }
}
</style>