---
import LincLogo from "./LincLogo.astro";
const { pathname } = Astro.url;

import { getEntry } from "astro:content";

const base_url = import.meta.env.BASE_URL;
const { currentLocale } = Astro.props;

const navigationItems = await getEntry('menus', `${currentLocale}/navigation`)
const localePath = currentLocale !== 'en' && `${currentLocale}/` || ''
---

<footer>
  <div class="container-fluid">
    <div class="grid">
      <div>
        <a href={`${base_url}${localePath}`} aria-current={pathname === `${base_url}${localePath}`}><LincLogo/></a>
      </div>
      <aside>
        <nav>
          <ul>
            {
              navigationItems?.data.items.map((item) => (
                <li>
                  <a href={`${base_url}${item.path}`} aria-current={pathname === `${base_url}${item.path}`}>{item.item_name}</a>
                </li>
              ))
            }
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</footer>


<style>
  aside {
    text-align: right;
    font-size: 0.75em;
  }

  ul {
    display: inline-block;
  }

  .grid {
    grid-template-columns: repeat(auto-fit,minmax(0%,1fr));
  }
</style>