---
import Navigation from "@components/Navigation.astro";
import LincLogo from "@components/LincLogo.astro";
import LanguagePicker from "@components/LanguagePicker.astro";

const { pathname } = Astro.url;
const base_url = `${import.meta.env.BASE_URL}`;
const { currentLocale } = Astro.props;
---
<header>
  <nav class="container-fluid nav-wrapper">
    <a href={`${base_url}${currentLocale}/`} aria-current={pathname === `${base_url}${currentLocale}/`}><LincLogo/></a>
    <div class="language-picker-wrapper">
      <LanguagePicker/>
    </div>
    <Navigation currentLocale={currentLocale}/>
  </nav>
</header>

<style>
  .nav-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
  }

  .language-picker-wrapper {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-start;
  }

  @media (min-width: 576px) {
    .nav-wrapper {
      padding: 1rem;
    }
  }
</style>
