---
import { Image } from "astro:assets";

import gridRenter1 from '@assets/images/grid/compressed/alvaro-reyes-3Cigxs7xEkM-unsplash.jpg'
import gridRenter2 from '@assets/images/grid/compressed/assal-mshk-NP5Z_Mg8Q04-unsplash-cropped.jpg'
import gridRenter3 from '@assets/images/grid/compressed/family-bike.jpg'
import gridRenter4 from '@assets/images/grid/compressed/joao-reguengos-XPUFYcf284w-unsplash.jpg' 
import gridRenter5 from '@assets/images/grid/compressed/pexels-august-de-richelieu-4260639.jpg'
import gridRenter6 from '@assets/images/grid/compressed/pexels-elly-fairytale-3893723.jpg'
import gridRenter7 from '@assets/images/grid/compressed/pexels-shvetsa-4586685-cropped.jpg'

import gridRenter8 from '@assets/images/grid/compressed/pexels-pnw-prod-7677946.jpg'

import gridRenter9 from '@assets/images/grid/compressed/pexels-ivan-samkov-4784014.jpg'
import gridRenter10 from '@assets/images/grid/compressed/pexels-ketut-subiyanto-4474036.jpg'
import gridRenter11 from '@assets/images/grid/compressed/pexels-marcus-aurelius-6787970.jpg'
import gridRenter12 from '@assets/images/grid/compressed/pexels-mart-production-7415122.jpg'
import gridRenter13 from '@assets/images/grid/compressed/pexels-mikhail-nilov-6973191.jpg'
import gridRenter14 from '@assets/images/grid/compressed/pexels-rdne-7951664.jpg'
import gridRenter15 from '@assets/images/grid/compressed/pexels-william-fortunato-6393356.jpg'

import gridRenter20 from '@assets/images/grid/compressed/pexels-cottonbro-5895052.jpg'
import gridRenter21 from '@assets/images/grid/compressed/pexels-elly-fairytale-3893532.jpg'
import gridRenter22 from '@assets/images/grid/compressed/pexels-ketut-subiyanto-4473602.jpg'
import gridRenter23 from '@assets/images/grid/compressed/pexels-nicola-barts-7943433.jpg'
import gridRenter24 from '@assets/images/grid/compressed/pexels-olly-3768140.jpg'

---
<div class="grid hero-photo-grid">
  <div>
    <Image src={gridRenter3} alt="Family biking in neighborhood" class="hero-photo-grid--item"/>
    <Image src={gridRenter2} alt="Family in park" class="hero-photo-grid--item"/>
    <!-- <Image src={gridRenter10} alt="Woman and daughter smiling" class="hero-photo-grid--item"/> -->
    <Image src={gridRenter22} alt="Woman and daughter smiling" class="hero-photo-grid--item"/>
    <Image src={gridRenter14} alt="Grandmother, mother, sister and child at home" class="hero-photo-grid--item"/>
    <Image src={gridRenter9} alt="Mother and children on laptop" class="hero-photo-grid--item"/>

    <Image src={gridRenter20} alt="Father reading to daughter in bed" class="hero-photo-grid--item"/>
    <!-- <Image src={gridRenter21} alt="Woman smiling at camera in home" class="hero-photo-grid--item"/> -->
    <Image src={gridRenter23} alt="Mother and daughter in yard" class="hero-photo-grid--item"/>
    <Image src={gridRenter24} alt="Grandmother and granddaugther" class="hero-photo-grid--item"/>
  </div>
  <div>
    <Image src={gridRenter1} alt="Grandpa with child in yard" class="hero-photo-grid--item"/>
    <Image src={gridRenter4} alt="Woman smiling at camera in home" class="hero-photo-grid--item"/>
    <Image src={gridRenter5} alt="Family hanging out on couch" class="hero-photo-grid--item"/>
    <Image src={gridRenter15} alt="Mother with baby in arm, working on laptop" class="hero-photo-grid--item"/>
    <Image src={gridRenter13} alt="Grandfather with young grandson on couch" class="hero-photo-grid--item"/>

    <Image src={gridRenter6} alt="Mother with teen in home" class="hero-photo-grid--item"/>
    <Image src={gridRenter7} alt="Father with toddler outside" class="hero-photo-grid--item"/>
    <Image src={gridRenter12} alt="Mother and father with son on couch" class="hero-photo-grid--item"/>
    <Image src={gridRenter11} alt="Elderly couple smiling on couch" class="hero-photo-grid--item"/>
    <Image src={gridRenter8} alt="Mother with toddler in kitchen" class="hero-photo-grid--item"/>
  </div>
  <div>
    <Image src={gridRenter21} alt="Mother with teen in kitchen" class="hero-photo-grid--item"/>
    <Image src={gridRenter7} alt="Father with toddler outside" class="hero-photo-grid--item"/>
    <Image src={gridRenter12} alt="Mother and father with son on couch" class="hero-photo-grid--item"/>
    <Image src={gridRenter11} alt="Elderly couple smiling on couch" class="hero-photo-grid--item"/>
    <Image src={gridRenter8} alt="Mother with toddler in kitchen" class="hero-photo-grid--item"/>

    <Image src={gridRenter3} alt="Family biking in neighborhood" class="hero-photo-grid--item"/>
    <Image src={gridRenter2} alt="Family in park" class="hero-photo-grid--item"/>
    <Image src={gridRenter10} alt="Woman and daughter smiling" class="hero-photo-grid--item"/>
    <Image src={gridRenter14} alt="Grandmother, mother, sister and child at home" class="hero-photo-grid--item"/>
    <!-- <Image src={gridRenter9} alt="Mother and children on laptop" class="hero-photo-grid--item"/> -->
  </div>
</div>

<style>
.hero-photo-grid {
  grid-template-columns: repeat(auto-fit,minmax(0%,1fr));
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  
  position: fixed;
  z-index: 2;
  padding: 0.25rem;
  width: 100%;
}

.hero-photo-grid--item {
  margin-bottom: 0.25rem;
}

@media (min-width:768px) {
  .hero-photo-grid {
    width: 50%;
  }
}
</style>