---
import "../styles/linc-colors.css";
import "../styles/linc-custom.css";

import Footer from "@components/Footer.astro";
import NavigationWrapper from "@components/NavigationWrapper.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  pageTitle: string;
  currentLocale: string;
}

const { pageTitle, currentLocale } = Astro.props;
const base_url = `${import.meta.env.BASE_URL}`;

const GA_ID = 'G-JV9Z4WDCB7';
---

<html lang={currentLocale} data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/svg+xml" href={`${base_url}favicon.svg`} />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Figtree:ital,wght@0,300..900;1,300..900&family=Gabarito:wght@400..900&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <!-- Google tag (gtag.js) -->
    <script is:inline type="text/partytown" src={`https://www.googletagmanager.com/gtag/js?id=${GA_ID}`}></script>

    <script is:inline type="text/partytown" define:vars={{ GA_ID }}>
      window.dataLayer = window.dataLayer || [];
      window.gtag = function gtag() {
          dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("consent", "default", {
          ad_storage: "denied",
          ad_user_data: "denied",
          ad_personalization: "denied",
          analytics_storage: "denied",
      });

      gtag("config", GA_ID);
    </script>

    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <NavigationWrapper currentLocale={currentLocale}/>
    <slot />
    <Footer currentLocale={currentLocale}/>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
