---
import "../styles/linc-colors.css";
import "../styles/linc-custom.css";

import { ViewTransitions } from "astro:transitions";
import LincLogo from "@components/LincLogo.astro";

const { pathname } = Astro.url;
const base_url = `${import.meta.env.BASE_URL}`;

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/svg+xml" href={`${base_url}favicon.svg`} />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Figtree:ital,wght@0,300..900;1,300..900&family=Gabarito:wght@400..900&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/classic.min.css"
    /> -->
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <nav class="container-fluid nav-wrapper">
        <a href={`${base_url}`} aria-current={pathname === base_url}><LincLogo/></a>
      </nav>
    </header>
    <slot />
    <footer>
      <div class="container-fluid">
        <div class="grid">
          <div>
            <a href={`${base_url}`} aria-current={pathname === base_url}><LincLogo/></a>
          </div>
        </div>
      </div>
    </footer>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style>
  .nav-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
  }

  aside {
    text-align: right;
    font-size: 0.75em;
  }

  ul {
    display: inline-block;
  }

  .grid {
    grid-template-columns: repeat(auto-fit,minmax(0%,1fr));
  }

  @media (min-width: 576px) {
    .nav-wrapper {
      padding: 1rem;
    }
  }
</style>
